# Generic files
.DS_Store
.github
.vscode
.claude
.cursor
.agents
*.log

# Cache folders
node_modules
.next

# Ignore build output
build
dist
out
docs

# Ignore environment files
.env
.env*


.vscode
.vscode-test
.vscode-test-*

