# Example Database Connection Strings
# -------------------------------------
# Uncomment the one you want to use. For local development, SQLite is the simplest.

# PostgreSQL
# DBSTRING="postgres://user:password@host:port/database"
PGSTRING="postgres://user:password@host:port/database"
