:root {
  --primary: oklch(69.512% 0.20285 41.616); /* Bright, punchy orange */
  --primary-foreground: oklch(99% 0.01 40);

  --secondary: oklch(70% 0.18 270); /* Vivid blue for contrast */
  --secondary-foreground: oklch(15% 0.02 270);
}
.dark {
  /* --background: oklch(37.817% 0.0415 19.125); */
}
