<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lingocafe.read-tip-email</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/marcopeg/.pyenv/shims/42go</string>
    <string>email</string>
    <string>lingocafe</string>
    <string>read-tip</string>
    <string>--send</string>
    <string>--max</string>
    <string>70</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/marcopeg/dv/LingoCafe/42go-nextjs</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/marcopeg/.pyenv/shims:/Users/marcopeg/.pyenv/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/marcopeg/dv/LingoCafe/42go-nextjs/.local/read-tip-email.launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/marcopeg/dv/LingoCafe/42go-nextjs/.local/read-tip-email.launchd.err.log</string>
</dict>
</plist>
